body{
    background-color: #f2f2f0  ;
}

.heading-page{
    font-size: 1.5rem;
    font-weight: 700;
}

.boxLeft{
    margin-bottom: 15px;
    background-color: #fff;
    position: relative;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgb(0 0 0 / 10%);
}

.line-under{
    border: none;
    border-bottom: 0.5px solid #d2d4d6;
    padding-bottom: 3px;
}

.fa-solid{
    cursor: pointer;
}
  
.time-popup{
    width: 800px;
    padding:10px;
    background-color:white;
    border-radius: 5px;
    position: absolute;
    top:200px;
    left:220px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.hide{
    display:none
}
.block{
    display:block
}
.calendar-popup{
    width: 230px;
    padding:10px;
    background-color:white;
    border-radius: 5px;
    position: absolute;
    top:250px;
    left:220px;
    border:none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    
}
.datepicker {
    left: 7.823px;
}



table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}