*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
  body {
    line-height: 1;
    color:#555;
}
ol, ul {
    list-style: none;
}
a {
    text-decoration:  none;
}
.clearfix {
    clear: both;
    display: block;
}
.form-boder {
    border-radius: 5px;
    outline:none;
    border: none;
    padding:5px 10px;
}

.color-white{
    color:var(--white-color);
}
/* color: var(--main-color); */
:root {
    --main-color: rgba(24,136,232,255);
    --gray-color: rgba(236,236,236,255);
    --white-color: #f1f1f1;
  }
.custom-nav{
    background-color: var(--main-color);
    padding:15px 10px;
}
.form-search{
    width: 100%;
}
.li-search{
    width: 25%;
    margin
}
.li-quantity{
    width:5%;
    text-align: center;
}
.li-bill{
    width:35%;
}
.custom-bill{
    background-color: var(--white-color);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    padding:8px 10px;
    margin-right:4px;
}
.main-bill{
    position:fixed;
}
.custom-icon{
    color:white;
    font-size: 25px;
    margin-left:20px;
    align-items:center;
    display:felex
}

.custom-infor{
    color:var(--white-color);
    font-size: 20px;
  
}
.li-icon{
    width:20%;
}
.li-infor{
    float: right;
    font-size: 20px;

}
.custom-main{
    width:100%;
}
.custom-table-infor{
 
}
.custom-bill-infor{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height:100vh;
   padding:10px;
   


}
.total-item{
padding:2px 8px;
    border-radius: 50%;
background-color:rgb(232,232,232);
}
.search-customer{
    width:100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding:10px
}
.custom-text-bill{
    font-weight: bold;
    
}
.line-bottom{
    border-bottom: 1.5px solid gray;
    padding-bottom:5px;
 
}
.custom-checkbox-label{
    cursor: pointer;
}
.li-money{
    display:block
}
.btn-bill{
    width:100%;
    margin-top:110px
}

.icon-remove{
    font-size: 20px;
}
.custom-table{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}